# Bzlmod
common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/refs/heads/main/
common --registry=https://bcr.bazel.build
common --check_direct_dependencies=error

# Use native sphinx_build_binary instead of the wrapper
build --//third_party/sphinx:use_native_sphinx_build

# Java runtime for plantuml
build --java_runtime_version=remotejdk_21

# Python version for score_tooling pip hub
build --@rules_python//python/config_settings:python_version=3.12
